@import '../globals.css';

.footer{
    max-width: 1250px;
    margin: auto;
    margin-top: 70px;
}
.bgDark {
    color: #46526A;
    font-weight: 500;
    padding: 1vh 15px 2vh 15px;
    /*width: 100%;*/
}

.footer-logo-block {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.container {
    display: flex;
    flex-direction: row;
}

.footer-clg-name h4 {
    font-weight: 400;
    color: #717A8C;
    margin-top: 2vh;
}

.footer-social {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: #ECF2FF;
    padding: 5px;
    border-radius: 50%;
    margin: 0px 10px 0 0;
    color: #5178FF;
}

.list-unstyled {
    list-style: none;
    width: 100%;
    margin-left: 4vw;
    /*margin-right: 4vw;*/
}

.list-unstyled li{
    padding: 3px;
    font-size: 13px;
}

.footer-row {
    display: flex;
    flex-direction: row;
}

.text-white-footer {
    text-decoration: none;
    color: #717A8C;
    /* margin: 5px; */
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.1s;
}

.text-white-footer:hover {
    color: #5178FF;
}

.footer-copyright {
    margin-top: 10vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
}

.first-row{
    width:40%;
}

.second-row{
    width: 17.5%;
}
.third-row{
    width: 17.5%;
}

@media (max-width: 1250px ) {
    .bgDark{
        padding: 1vh 3vw 2vh 3vw;
    }
    .footer-logo-block{
        width:25vw;
    }
    .first-row{
        width:38vw;
    }
    .second-row{
        width: 15.5vw;
    }
    .third-row{
        width: 15.5vw;
    }
}
@media (max-width:1000px) {
    .container {
        flex-direction: column;
    }
    .list-head{
        margin-top: 30px;
    }

    .footer-logo-block {
        width: auto;
        margin-bottom: 5vh;
    }

    .list-unstyled {
        /* min-width: 40vw; */
        width: 60vw;
        margin: 0 20vw 0 0;
        align-items: center;
        justify-content: center;
    }

    .list-unstyled li {
        padding: 0;
        margin: 0;
    }

    .footer-copyright {
        font-size: 10px;
    }
    .first-row{
        flex-direction: column;
    }
}
@media (max-width:470px) {
    .list-unstyled hr {
        opacity: 1;
    }
    .list-unstyled{
        width: 85vw;
        margin-right: 0;
    }

}