@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5178ff;
  --secondary-white: #fffdf9;
  --secondary-blue: #005dff;
  --secondary-purple: #5142fb;
  --secondary-wheat: #ffd89d;
  --secondary-yellow: #fdb52a;
  --neutral800: #0c1830;
  --neutral700: #2f3e59;
  --neutral600: #46526a;
  --neutral500: #7f8da3;
  --neutral400: #7f8da3;
  --neutral300: #ecf2ff;
  --neutral200: #f8f8fb;
  --neutral100: #ffffff;
  --blue400: #086cd9;
  --blue300: #1d88fe;
  --blue200: #8fc3ff;
  --blue100: #eaf3ff;
  --green400: #11845a;
  --green300: #05c168;
  --green200: #7fdca4;
  --green100: #def2e6;
  --red400: #dc2b2b;
  --red300: #ff5a65;
  --red200: #ffbec2;
  --red100: #ffeff0;
  --orange400: #d5691b;
  --orange300: #ff9e2c;
  --orange200: #ffd19b;
  --orange100: #fff3e4;
}

.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary-blue{
  background-color: var(--secondary-blue);
}
.hover-primary-bg:hover{
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.jump{
  transition: 0.5s;
}
.jump:hover{
  transform: translateY(-3px);
}
.jump2{
  transition: 0.5s;
}
.jump2:hover{
  transform: translateY(-6px);
}
.bg-primary-gray{
  background-color: var(--neutral200);
}

@media (max-width: 1050px) {
  .col-1050{
    flex-direction: column;
  }
  
}
